html,
body {
  background-color: #434a56;
  height: 100%;
}

#wrapper {
  min-height: 100%;
  margin-bottom: -40px;
  padding-bottom: 40px;
}

#content {
  background-color: #586170;
  color: white;
}

#footer {
  position: absolute;
  bottom: 0;
  color: gray;
  text-align: center;
  height: 40px;
  width: 100%;
}

#footer a {
  color: white;
}

#footer a:hover {
  color: pink;
  text-decoration: none;
}
.button {
  position: relative;
  padding: 8px 16px;
  background: #009579;
  border: none;
  outline: none;
  border-radius: 2px;
  cursor: pointer;
}
.button:active {
  background: #007a63;
}

.button--loading .button__text {
  visibility: hidden;
  opacity: 0;
}

.button--loading::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 4px solid transparent;
  border-top-color: #ffffff;
  border-radius: 50%;
  animation: button-loading-spinner 1s ease infinite;
}

@keyframes button-loading-spinner {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}
