<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="plomart" />
    <meta name="author" content="Avalon Parton (@plomdawg)" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/stupid.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />
    <title>plomart</title>

    <p id="demo"></p>
  </head>

  <body>
    <div class="header green">
      <div class="container pink">
        <br />
        <center><h1>plomart</h1></center>
        <br />
      </div>
    </div>

    <div class="main-content">
      <center>
        <br /><br /><br />
        <img id="image" src="{{ url_for('character') }}" />
        <br />
        <div class="container padded cyan center">
          <strong id="count">{{ count }}</strong>
          faces have been randomly generated
        </div>
        <br /><br /><br />
        <button
          class="btn large green rounded"
          id="new"
          onclick="reloadImage()"
        >
          NEW
        </button>
        <script>
          var link = "{{ url_for('character') }}";
          function reloadImage() {
            // Disable the button
            var button = document.getElementById("new");
            button.setAttribute("disabled", "");
            button.classList.add("button--loading");

            // use a new URL so the image isn't cached
            var date = new Date();
            document.getElementById("image").src = link + "?" + date.getTime();

            // increase the counter
            var counter = document.getElementById("count");
            var count = parseInt(counter.innerHTML) + 1;
            counter.innerHTML = count;

            // Re-enable the button
            document.getElementById("new").removeAttribute("disabled");
            button.classList.remove("button--loading");
          }
        </script>
      </center>
    </div>

    <div id="footer">
      <br />Made by Avalon Parton (@plomdawg)
      <a href="https://github.com/plomdawg/plomart">source on GitHub</a>.
    </div>
  </body>
</html>
